{% extends "base.html" %}

{% block content %}
<h2>Lista Dataset</h2>

<input class="form-control" type="search" 
       name="q" placeholder="Cerca dataset..." 
       hx-get="/search/" 
       hx-trigger="keyup changed delay:500ms, search" 
       hx-target="#search-results" 
       hx-swap="innerHTML">

<table border="1" style="margin-top: 20px; width: 100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Partecipanti</th>
            <th>Licenza</th>
            <th>Modalità</th>
            <th>Azioni</th> 
        </tr>
    </thead>
    <tbody id="search-results">
        {% include "partials/dataset_rows.html" %}
    </tbody>
</table>
{% endblock %}