{% extends "base.html" %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Partecipanti</th>
            <th>Licenza</th>
            <th>Modalità</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        {% for d in datasets %}
        <tr>
            <td>{{ d.id }}</td>
            <td><a href="/table/{{ d.id }}">{{ d.name }}</a></td>
            <td>{{ d.participants }}</td>
            <td>{{ d.license.value }}</td>
            <td>
                {% for m in d.modalities %}
                <span style="background: #eee; padding: 2px; border-radius: 4px;">
                    {{ m.name.value }}
                </span>
                {% endfor %}
            </td>
            <td>
                <button hx-delete="/datasets/{{ d.id }}"
                    hx-confirm="Sei sicuro di voler eliminare il dataset {{ d.name }}?" hx-target="closest tr"
                    hx-swap="outerHTML swap:0.5s">
                    Elimina
                </button>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>

{% endblock %}